		<div class="templateHeader">Analytical Method</div>
		<div class="templateID">Method ID: <input type="text" id="analytical_methodid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Method Name:</td>
				<td>
					<div id="method_name"></div>
				</td>
			</tr>
			<tr>
				<td>Method Type:</td>
				<td>
					<div id="method_type_num"></div>
				</td>
			</tr>
			<tr>
				<td>Method Short Name:</td>
				<td>
					<div id="method_short_name"></div>
				</td>
			</tr>
			<tr>
				<td>Lab Name:</td>
				<td>
					<div id="method_lab"></div>
				</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<div id="method_description"></div>
				</td>
			</tr>
			<tr>
				<td>Link for More Information:</td>
				<td>
					<div id="method_link"></div>
				</td>
			</tr>

			</table>
		</div>


