
		<div class="templateHeader">Chemical Analysis Event</div>
		<div class="templateID">Chemical Analysis ID: <input type="text" id="chemical_analysisid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Analysis Run Name:</td>
				<td>
					<div id="chemical_analysis_action_name"></div>
				</td>
			</tr>
			<tr>
				<td>Analysis Type:</td>
				<td>
					<div id="chemical_analysis_type_num"></div>
				</td>
			</tr>
			<tr>
				<td>Method Name:</td>
				<td>
					<div id="chemical_analysis_method"></div>
				</td>
			</tr>

			<tr>
				<td>Lab Name:</td>
				<td>
					<div id="chemical_analysis_lab"></div>
				</td>
			</tr>

			<tr>
				<td>Equipment Used:</td>
				<td>
					<div id="chemical_analysis_equipment"></div>
				</td>
			</tr>

			<tr>
				<td>Analyst/Operator:</td>
				<td>
					<div id="chemical_analysis_analyst"></div>
				</td>
			</tr>

			<tr>
				<td>Description:</td>
				<td>
					<div id="chemical_analysis_description"></div>
				</td>
			</tr>

			<tr>
				<td>Date/Time:</td>
				<td nowrap>Start: <span id="chemical_analysis_begin_date"></span>&nbsp;&nbsp;&nbsp;End: <span id="chemical_analysis_end_date"></span></td>
			</tr>

			</table>




