		<div class="templateHeader">Equipment</div>
		<div class="templateID">Equipment ID: <input type="text" id="equipmentid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Equipment Name:</td>
				<td>
					<div id="equipment_name"></div>
				</td>
			</tr>
			<tr>
				<td>Equipment Type:</td>
				<td>
					<div id="equipment_type_num"></div>
				</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<div id="equipment_description"></div>
				</td>
			</tr>
			<tr>
				<td>Model ID:</td>
				<td><div id="model_id"></div></td>
			</tr>
			<tr>
				<td>Serial Number:</td>
				<td><div id="equipment_serial_num"></div></td>
			</tr>
			<tr>
				<td>Manufacturer:</td>
				<td><div id="equipment_vendor_id"></div></td>
			</tr>
			<tr>
				<td>Purchase Date:</td>
				<td><div id="equipment_purchase_date"></div></td>
			</tr>
			<tr>
				<td>URL for Photo:</td>
				<td><div id="equipment_photo_file_name"></div></td>
			</tr>
			<tr>
				<td>Owner:</td>
				<td><div id="equipment_owner_id"></div></td>
			</tr>
		</table>
		

		
