


		<div class="templateHeader">Expedition</div>
		<div class="templateID">Expedition ID: <input type="text" id="expeditionid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Expedition Name:</td>
				<td>
					<div id="expedition_name"></div>
				</td>
			</tr>
			<tr>
				<td>Expedition Type:</td>
				<td>
					<div id="expedition_type_num"></div>
				</td>
			</tr>
			<tr>
				<td>Sponsor Organization:</td>
				<td>
					<div id="expedition_sponsor_organization"></div>
				</td>
			</tr>
			<tr>
				<td>Description:</td>
				<td>
					<div id="expedition_description"></div>
				</td>
			</tr>


<!---
		</table>
		
		<div id="showDetailsButtonDiv">
			<button class="greenbutton" onClick="showObjectDetails();"><span>Show&nbsp;Details</span></button>
		</div>
		
		<div id="hideDetailsButtonDiv" style="display:none;">
			<button class="redbutton" onClick="hideObjectDetails();"><span>Hide&nbsp;Details</span></button>
		</div>
		
		<div id="objectdetails">
			
			<table>
--->

				<tr>
					<td>Dates:</td>
					<td nowrap>Begin Date: <span id="expedition_begin_date"></span>&nbsp;&nbsp;&nbsp;End Date: <span id="expedition_end_date"></span></td>
				</tr>
				<tr>
					
					<td valign="top">Equipment:</td>
					<td>
						<div id="expedition_equipment"></div>
					</td>
				</tr>
				<tr>
					<td>Identifier:</td>
					<td><div id="expedition_identifier"></div></td>
				</tr>
				<tr>
					<td valign="top">Alternate Names:</td>
					<td>
						<div id="expedition_alternate_names"></div>
					</td>
				</tr>

			</table>
		<!---
		</div>
		--->


		<div id="resultsdiv">
		
		</div>

		<div>
			<input id="expedition_hidden_sponsor_organization" style="display:none;"/>
			<input id="expedition_hidden_equipment1" style="display:none;"/>
			<input id="expedition_hidden_equipment2" style="display:none;"/>
			<input id="expedition_hidden_equipment3" style="display:none;"/>
			<input id="expedition_hidden_equipment4" style="display:none;"/>
			<input id="expedition_hidden_equipment5" style="display:none;"/>
			<input id="expedition_hidden_equipment6" style="display:none;"/>
			<input id="expedition_hidden_equipment7" style="display:none;"/>
			<input id="expedition_hidden_equipment8" style="display:none;"/>
			<input id="expedition_hidden_equipment9" style="display:none;"/>
		</div>







