
		<div class="templateHeader">Reporting Variable</div>
		<div class="templateID">Reporting Variable ID: <input type="text" id="reporting_variableid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Variable Name:</td>
				<td>
					<div id="reporting_variable_name"></div>
				</td>
			</tr>
			<tr>
				<td>Analysis Event:</td>
				<td>
					<div id="reporting_variable_action_num"></div>
				</td>
			</tr>
			<tr>
				<td>Variable:</td>
				<td>
					<div id="reporting_variable_variable_num"></div>
				</td>
			</tr>
			<tr>
				<td>Unit:</td>
				<td>
					<div id="reporting_variable_unit_num"></div>
				</td>
			</tr>
			<tr>
				<td>Uncertainty Type:</td>
				<td>
					<div id="reporting_variable_uncertainty_type"></div>
				</td>
			</tr>
			<tr>
				<td>Uncertainty Value:</td>
				<td>
					<div id="reporting_variable_uncertainty_value"></div>
				</td>
			</tr>
			<tr>
				<td>Data Reduction Description:</td>
				<td>
					<div id="reporting_variable_description"></div>
				</td>
			</tr>








			</table>





