
		<div class="templateHeader">Reporting Variable</div>
		<div class="templateID">Reporting Variable ID: <input type="text" id="reporting_variableid" value="" size="6" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Variable Name:</td>
				<td>
					<input type="text" id="reporting_variable_name" size="59" />
				</td>
			</tr>
			<tr>
				<td>Analysis Event:</td>
				<td>
					<input id="reporting_variable_action_num" size="56"/>
				</td>
			</tr>
			<tr>
				<td>Variable:</td>
				<td>
					<input id="reporting_variable_variable_num" size="56"/>
				</td>
			</tr>
			<tr>
				<td>Unit:</td>
				<td>
					<input id="reporting_variable_unit_num" size="56"/>
				</td>
			</tr>
			<tr>
				<td>Uncertainty Type:</td>
				<td>
					<select id="reporting_variable_uncertainty_type">
						<option value="">select...</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Uncertainty Value:</td>
				<td>
					<input type="text" id="reporting_variable_uncertainty_value" size="59" />
				</td>
			</tr>
			<tr>
				<td>Data Reduction Description:</td>
				<td>
					<textarea id="reporting_variable_description" cols="50" rows="7"></textarea>
				</td>
			</tr>








			</table>


		<div id="chemical_analysisresultsdiv">
		
		</div>

		<div style="display:none;">
			<br><br><br>
			reporting_variable_action_num_hidden: <input id="reporting_variable_action_num_hidden"/><br>
			reporting_variable_variable_num_hidden: <input id="reporting_variable_variable_num_hidden"/><br>
			reporting_variable_unit_num_hidden: <input id="reporting_variable_unit_num_hidden"/>
		</div>

		<script src="/resources/autocomplete_setups.js"></script>


