
		<div id="templatetitle" class="templateHeader"></div>
		<div class="templateID">URI: <input type="text" id="vocaburi" value="" size="60" readonly="readonly"></div>
		
		<table>
			<tr>
				<td>Preferred Label:</td>
				<td>
					<input type="text" id="preferred_vocab_label" size="59" />
				</td>
			</tr>
			<tr id="alternate_vocab_label_row">
				<td>Alternate Label:</td>
				<td>
					<input type="text" id="alternate_vocab_label" size="59" />
				</td>
			</tr>
			<tr id="description_row">
				<td valign="top">Description:</td>
				<td>
					<textarea id="alternate_vocab_description"  rows="8" cols="50"></textarea>
				</td>
			</tr>

		</table>

		<div id="resultsdiv">
		
		</div>
